<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%# <a href="/about">About me</a> %>
<br>
<%# <%= link_to "About me, My friend :D", pages_about_path %>
<%= link_to "Go to about page", about_path %>